@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Ufficio Carabinieri</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/Home.css">

</head>
<body>
    <!-- Barra di navigazione -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Ufficio Carabinieri</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          
        </div>
    </nav>

    <!-- Jumbotron con messaggio di benvenuto -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Benvenuto all'Ufficio Carabinieri</h1>
            <p class="lead">Gestione delle anagrafiche, multe e verbali</p>
            <hr class="my-4">
            <p>Questa è la nostra home page dove puoi trovare informazioni e accedere ai nostri servizi.</p>
        </div>
    </div>

    <!-- Sezione contenente le informazioni principali -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6bfbIOjoGyFurQpXIonG2YIf29KafPpdt8MO-efDQ_BW_G2uU57_LK9fAavnI_c6f83M&usqp=CAU" alt="Anagrafe" class="card-img-top">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        
                        <img src="https://exforma.net/wp-content/uploads/arruolarsi-nei-carabinieri.jpg" alt="Multe" class="card-img-top">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                       
                        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh_maBRajSHd6GATFB7vPJQoCjbx6F4HTKAfQSkMPGBfgdcdGJpNWn7PQ_kO4l88b-uRsqajvAJMyspz01UOq2kv1ZbwzUnCNQpeb0r5s6at8M6_o2z_PvJLv8QvvuJ6EQgHzGkM1_36sk/s1600/IMG_5949+-+Copia.JPG" alt="Verbali" class="card-img-top">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Script JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
